/*this is the common section between the header and footer*/
.common__section {
  background: fcfcfc;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 80px 0px;
}
